[submodule "tools/mspsim"]
	path = tools/mspsim
	url = https://github.com/contiki-os/mspsim.git
[submodule "examples/kev-runtime/UDPKevoreeRepo"]
	path = examples/kev-runtime/UDPKevoreeRepo
	url = https://github.com/kYc0o/UDPKevoreeRepo.git
